{% extends 'base.html.twig' %}

{% block title %}Создать ламу{% endblock %}

{% block body %}
    <h1>Создать ламу</h1>

    {{ include('llama/_form.html.twig') }}

    <a href="{{ path('llama_index') }}">Вернуться к списку</a>
{% endblock %}
