{% extends 'newbase_template/newbase.html.twig' %}

{% block title %}Second controller{% endblock %}

{# шапка страницы #}
{% block new_header %}
    <h1>Страница с тестовым контроллером</h1>
    <p>Выводит список из дат</p>
{% endblock %}

{% block content %}

    <h1>Test page</h1>
    <p>This is my first task</p>
    <p>{{ date }}</p>

    <ul>
        {% for item in 1..count %}
            <li>{{ date }}</li>
        {% endfor %}
    </ul>

{% endblock %}
