{% extends 'newbase_template/newbase.html.twig' %}

{% block content %}

    <h1>Список пользователей</h1>

    <ul>
        {% for user in users %}
            <li>{{ user.email }}</li>
        {% endfor %}

    </ul>

{% endblock %}
